body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 38px;
    font-weight: bold;
}

img {
    width: 95%;
}

h2 {
    padding: 5px 0px;
}
.char-box {
    width: 150px;
    text-align: center;
    background: white;
    border: 2px solid green;
    position: absolute;
}

.obi-box {
    left: 0px;
    top: 0px;
}
.yoda-box {
    left: 0px;
    top: 0px;
}
.jarjar-box {
    left: 0px;
    top: 0px;
}
.jabba-box {
    left: 0px;
    top: 0px;
}

#btn-attack, #btn-restart, #message-box {
    position: absolute;
}
#message-box {
    background-color: black;
    color: white;
    width: 400px;
    height: 50px;
    border-radius: 25px;
    border: 4px solid #73AD21;
    padding: 20px; 
    line-height: 1.5;
}